# Introduction to Pandas in Python


Estimated time needed: **15** minutes
    

## Objectives

After completing this lab you will be able to:

* Use Pandas to access and view data

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="dataset">About the Dataset</a></li>
        <li><a href="pandas">Introduction of <code>Pandas</code></a></li>
        <li><a href="data">Viewing Data and Accessing Data</a></li>
        <li><a href="quiz">Quiz on DataFrame</a></li>
    </ul>
  
</div>

---

## Dataset

The table has one row for each album and several columns.

- `Artist`
  - Artist name
- `Album`
  - Album name
- `Released`
  - Year the album was released
- `Length`
  - Length of the album (hours, minutes, seconds)
- `Genre`
  - Genre of the album
- `Music Recording Sales (millions)`
  - Music recording sales (millions in USD) on [song-database.com](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01)
- `Claimed Sales (millions)`
  - Album's claimed sales (millions in USD) on [song-database.com](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01)
- `Released.1`
  - Release date of the album
- `Soundtrack`
  - Whether the album is the movie soundtrack (Y) or (N)
- `Rating`
  - Rating from friends from 1 to 10

See the dataset here:

<font size="1">
<table font-size:xx-small>
	<tr>
		<th>Artist</th>
		<th>Album</th>
		<th>Released</th>
		<th>Length</th>
		<th>Genre</th>
		<th>Music Recording sales (millions)</th>
		<th>Claimed Sales (millions)</th>
		<th>Released</th>
		<th>Soundtrack</th>
		<th>Rating (friends)</th>
	</tr>
	<tr>
		<td>Michael Jackson</td>
		<td>Thriller</td>
		<td>1982</td>
		<td>00:42:19</td>
		<td>Pop, rock, R&B</td>
		<td>46</td>
		<td>65</td>
		<td>30-Nov-82</td>
		<td></td>
		<td>10.0</td>
	</tr>
	<tr>
		<td>AC/DC</td>
		<td>Back in Black</td>
		<td>1980</td>
		<td>00:42:11</td>
		<td>Hard rock</td>
		<td>26.1</td>
		<td>50</td>
		<td>25-Jul-80</td>
		<td></td>
		<td>8.5</td>
	</tr>
	<tr>
		<td>Pink Floyd</td>
		<td>The Dark Side of the Moon</td>
		<td>1973</td>
		<td>00:42:49</td>
		<td>Progressive rock</td>
		<td>24.2</td>
		<td>45</td>
		<td>01-Mar-73</td>
		<td></td>
		<td>9.5</td>
	</tr>
	<tr>
		<td>Whitney Houston</td>
		<td>The Bodyguard</td>
		<td>1992</td>
		<td>00:57:44</td>
		<td>Soundtrack/R&B, soul, pop</td>
		<td>26.1</td>
		<td>50</td>
		<td>25-Jul-80</td>
		<td>Y</td>
		<td>7.0</td>
	</tr>
	<tr>
		<td>Meat Loaf</td>
		<td>Bat Out of Hell</td>
		<td>1977</td>
		<td>00:46:33</td>
		<td>Hard rock, progressive rock</td>
		<td>20.6</td>
		<td>43</td>
		<td>21-Oct-77</td>
		<td></td>
		<td>7.0</td>
	</tr>
	<tr>
		<td>Eagles</td>
		<td>Their Greatest Hits (1971-1975)</td>
		<td>1976</td>
		<td>00:43:08</td>
		<td>Rock, soft rock, folk rock</td>
		<td>32.2</td>
		<td>42</td>
		<td>17-Feb-76</td>
		<td></td>
		<td>9.5</td>
	</tr>
	<tr>
		<td>Bee Gees</td>
		<td>Saturday Night Fever</td>
		<td>1977</td>
		<td>1:15:54</td>
		<td>Disco</td>
		<td>20.6</td>
		<td>40</td>
		<td>15-Nov-77</td>
		<td>Y</td>
		<td>9.0</td>
	</tr>
	<tr>
		<td>Fleetwood Mac</td>
		<td>Rumours</td>
		<td>1977</td>
		<td>00:40:01</td>
		<td>Soft rock</td>
		<td>27.9</td>
		<td>40</td>
		<td>04-Feb-77</td>
		<td></td>
		<td>9.5</td>
	</tr>
</table>
</font>

## Shell and Magic Commands

In IPython syntax, the exclamation mark (`!`) allows users to run shell commands from inside a Jupyter Notebook code cell. Shell commands in the Jupyter Notebook are executed in a temporary subshell. To do it in a more enduring way, use shell-like magic functions, e.g. `%cd`, `%ls`, `%pwd`

In [1]:
## Install dependencies
## Library for reading data and formatting information from Excel files 
## 1) Platform dependant shell commands
# !pip install xlrd
## 2) Magic commands provided by IPython kernel
%pip install xlrd
## Library to read and write Excel 2010 xlsx/xlsm/xltx/xltm files
## 1) Platform dependant shell commands
# !pip install openpyxl
## 2) Magic commands provided by IPython kernel
%pip install openpyxl

Requirement already satisfied: xlrd in c:\users\asus\coding\tools\anaconda\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing requirements for platformdirs: [Errno 2] No such file or directory: 'c:\\users\\asus\\coding\\tools\\anaconda\\lib\\site-packages\\platformdirs-2.5.2.dist-info\\METADATA'

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\asus\coding\tools\anaconda\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\asus\coding\tools\anaconda\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing requirements for platformdirs: [Errno 2] No such file or directory: 'c:\\users\\asus\\coding\\tools\\anaconda\\lib\\site-packages\\platformdirs-2.5.2.dist-info\\METADATA'

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Introduction to Pandas

In [2]:
## Import the required library
import pandas as pd

After the `import` command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed. In our cloud lab environment, all the necessary libraries are installed. One way Pandas allows us to work with data is a `DataFrame`. Let's go through the process to go from a comma separated values (`.csv`) file to a dataframe.

The variable `csv_path` stores the path of the `.csv` file used as an argument to the `read_csv()` function. The result is stored in the object `df` (common short form used for a variable referring to a Pandas dataframe).

We can use `head()` to examine the 1st N rows, 5 rows by default, of a dataframe.

In [3]:
## HTTP URL to CSV data file
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
## Read data from CSV file into DataFrame
df = pd.read_csv(csv_path)
## Show the 1st 5 rows of dataframe
# print(df.head())
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We can use `read_excel()` to read in an Excel file in a similar manner.

In [4]:
## HTTP URL to Excel data file
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
## Read data from Excel file into DataFrame
df = pd.read_excel(xlsx_path)
## Show the 1st 5 rows of dataframe
# print(df.head())
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

We can access the column "Length" and assign it a new dataframe.

In [5]:
## Get column as DataFrame
d = df[['Length']]
print(type(d))
print(d)

<class 'pandas.core.frame.DataFrame'>
     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

See illustration below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgOne.png" width="750">

## Viewing and Accessing Data

We can also get a column as a Series, which can be thought of as 1-D DataFrame.

In [6]:
## Get column as Series
s = df['Length']
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

We can do the same thing for multiple columns. We list all the column names enclosed in double brackets. The result is a new dataframe comprised of the specified columns.

In [7]:
## Access multiple columns
mul_col = df[['Artist', 'Length', 'Genre']]
print(type(mul_col))
print(mul_col)

<class 'pandas.core.frame.DataFrame'>
            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

See illustration below.

<center><img src="../images/m04-multiple-columns.jpg" height="80%" width="80%" /></center>

Use `iloc()` to access a value in DataFrame.

In [8]:
## Access a value
## Access value at 1st row and 1st column
print(df.iloc[0, 0])
## Access value at 2nd row and 1st column
print(df.iloc[1, 0])
## Access value at 1st row and 3rd column
print(df.iloc[0, 2])
## Access value at 2nd row and 3rd column
print(df.iloc[1, 2])

Michael Jackson
AC/DC
1982
1980

See illustration below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/2_loc.PNG" width="750">

We can access the column using its name as well.

In [9]:
## Access value with column name
print(df.loc[0, "Artist"])
print(df.loc[1, "Artist"])
print(df.loc[0, "Released"])
print(df.loc[1, "Released"])

Michael Jackson
AC/DC
1982
1980

See illustration below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/1_loc.png" width="750">

We can perform slicing using both the indexes and the names of the columns.

In [10]:
## Slice DataFrame with indexes
print(df.iloc[0:2, 0:3])

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

See illustration below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/4_loc.png" width="750">

In [11]:
## Slice DataFrame with column names
print(df.loc[0:2, "Artist":"Released"])

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

See illustration below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/3_loc.png" width="750">

---

## Exercises

### Music Album

1. Use a variable `r` to store the column `Rating` as a dataframe.

In [12]:
r = df[["Rating"]]
print(r)

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

<details><summary>Click here for the solution</summary>

```python
r = df[['Rating']]
r   
```

</details>

2. Assign the variable `r` to the dataframe that is made up of the columns `Released` and `Artist`.

In [13]:
r = df[["Released", "Artist"]]
print(r)

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

<details><summary>Click here for the solution</summary>

```python
r = df[['Released', 'Artist']]
r   
```

</details>

3. Access the 2nd row and the 3rd column of `df`.

In [14]:
print(df.iloc[1, 2])

1980

<details><summary>Click here for the solution</summary>

```python
df.iloc[1, 2]    
```

</details>

4. Use the following list to convert the dataframe index to characters and assign it to `df_new`. Find the element corresponding to the row index `a` and column `Artist`. Then select the rows `a` through `d` for the column `Artist`.

In [15]:
new_index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [16]:
print(df.index.values)
df_new = df
df_new.index = new_index
print(df_new.index.values)
print(df_new.loc["a", "Artist"])
print(df_new.loc["a":"d", "Artist"])

[0 1 2 3 4 5 6 7]
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h']
Michael Jackson
a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

<details><summary>Click here for the solution</summary>

```python
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']
```

</details>

### Loading Data with Pandas

In [17]:
import pandas as pd

df = pd.DataFrame({'a':[11, 21, 31], 'b':[21, 22, 23]})

1. Display the 1st 3 rows.

In [18]:
print(df.head(3))

    a   b
0  11  21
1  21  22
2  31  23

<details><summary>Click here for the solution</summary>

```python
df.head(3)
```

</details>

2. Obtain column `a`.

In [19]:
print(df['a'])

0    11
1    21
2    31
Name: a, dtype: int64

<details><summary>Click here for the solution</summary>

```python
df['a']
```

</details>

### Working with and Saving Data with Pandas

In [20]:
import pandas as pd

df = pd.DataFrame({'a':[1, 2, 1], 'b':[1, 1, 1]})

1. Find the unique values in column `a`.

In [21]:
## Return unique values in a column
print(df['a'].unique())

[1 2]

<details><summary>Click here for the solution</summary>

```python
df['a'].unique()
```

</details>

2. Return a dataframe with only the rows where column `a` is less than 2.

In [22]:
print(df[df['a'] < 2])

   a  b
0  1  1
2  1  1

<details><summary>Click here for the solution</summary>

```python
df[df['a']<2]
```

</details>

---

Author(s):

- [Joseph Santarcangelo](https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01) 
  - Joseph Santarcangelo has a PhD in Electrical Engineering. His research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Other Contributor(s):

- N/A